.slider{
    /* border: solid 1px black; */
    width: 99%;
    height: 30vh;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTPdg7J_RLcv6m_16nHwGFgm7GNCa_4DeFA_kK9Rw2ZM1QQPQQL'); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.sliderButtonHolder{
    width: 100%;
    height: 30%;

    /* background-color: red; */
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    /* bottom: 294px; */
}
.sliderButton{
    /* border: solid 1px black; */
    /* background-color: white; */
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    /* position: absolute; */
    z-index: 2;
}

#sliderNext{

}

#sliderPrev{

}

#images{
    height: 100%;
    width: 100%;
    /* position: absolute; */
}


@media only screen and (max-width: 600px){
    .sliderButtonHolder{
        width: 99%;
    }
}